*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

:root{
    --main-color:#FFEADD;
    --box-color:#2B3499;
    --text-color:#1F1717;
    --border-color:silver;
    
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,900&display=swap');

.overall-page{
      
    background-color:#EAECCC;
    width:100%;
    min-height:100vh;
        
}

nav{

    background-color:var(--main-color);
    padding:10px 0px 10px 10px;
    height: 100%;
    width:100%;
    position: sticky;
    z-index: 999;
    top:0;
    padding:5px 5px;
    box-shadow: 5px 5px 20px rgba(0,0,0.3)
    
}


.navbar .navbar-brand{

    color: #5F0F40;
    font-family: 'Roboto', sans-serif;
}

#navbarNav a{

        color:black;
}
#navbarNav a:hover{
    border-bottom: 2px solid red;
}
.tag-h1{

    text-align: center;
    padding:20px;
    font-size:70px;
    color:var(--box-color);
}

/* ..................................overal ......................... */
.overal{

        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
        justify-content: center;
        align-items: center;
       row-gap:10px ;
       column-gap:15px;
        padding: 10px;
        /* text-transform: uppercase; */

}
 
.main-card{

    width:300px;
    height:450px;
    border: 2px solid black;
    margin:10px;
    background-color: white;
}
.img-card{

    width:300px;
    height:350px;
    padding:8px;
}